# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log